.lk {
    button {
        margin-top: 20px;
        color: #ffffff;
        height: 40px;
        border: none;
        background-color: #579b14;
        color: #ffffff;
        outline: none;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
}