@import 'styles/vars.scss';
@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import './components/autorization-form/autorization-form.scss';
@import './components/error-node/error-node.scss';
@import './components/night-toggler/night-toggler.scss';


body, html {
    font-family: $ms-a;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: #4a4a4a;
    background: #fafafa;
    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding-bottom: 300px;
    &.js-night-mode {
        background: #232323;
    }
}

.wrapper {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    transition: all .2s;
    &:active {
        transform: scale(.9);
    }
}